{% extends "base.html" %}

{% block content %}
<h1>List of Departments</h1>
{% if current_user.is_authenticated %}
    <a href="index" class="btn btn-secondary">Back to Jobs</a>
    <a href="department" class="btn btn-secondary">Add Department</a>
{% endif %}
{% for item in departments %}
<h2>Action #{{item.id}}</h2>
<table class="table">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Title of department</th>
      <th scope="col">Chief</th>
      <th scope="col">Members</th>
      <th scope="col">Department Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-primary">{{item.title}}</td>
      <td class="table-primary">{{item.user.surname}} {{item.user.name}}</td>
      <td class="table-primary">{{item.members}}</td>
      <td class="table-primary">{{item.email}}</td>
    </tr>
  </tbody>
</table>
{% if current_user.is_authenticated and (current_user.id == item.user.id or current_user.id == 1) %}
<div>
  <a href="/department/{{ item.id }}" class="btn btn-warning">
      Edit Department
  </a>
  <a href="/department_delete/{{ item.id }}" class="btn btn-danger">
      Delete Department
  </a>
</div>
{% endif %}

{% endfor %}
{% endblock %}